body{
    
    margin: 0 auto;

    --bg-color: #C8C6D7;
    --main-color: #783F8E;

    --dark-color: #4F1271;
    --light-color: #4A4063;

    background-color: var(--bg-color);
    
    font-weight: 700; 
    font-size: 14px;
    font-size: 120%;
    font-family: Lato, Arial, sans-serif;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);

    /* overflow-x:hidden; */
}

a:link{    
    position: relative;
    text-decoration: none;
    -webkit-transition: all 1s linear; 
    
    color: #aa0000; 
    padding: 1.5px; 
    -webkit-transition: all 1s linear;
}

a:hover {
    background: var(--main-color);
    color: #fff; 
}

#logo_tabmenu{
    
    background: var(--light-color);

    display: grid;
    grid-template-columns: 0.6fr 2fr;
}

#logo{
    padding: 0.5em;
}



.footer {
    position: absolute;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    color: black;
    text-align: center;
  }

.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
   
}

.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}

.nav ul:after {
    clear:both;
}

.nav ul > li {
    float:left;
    position:relative;
}

.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    border-left:1px solid #595959;
}

.nav element {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    border-left:1px solid #595959;
}

.nav a:hover {
    text-decoration:none;
    background:#595959;
}

.nav li ul {
    background:#273754;
}

.nav li ul li {
    width:200px;
}

.nav li ul a {
    border:none;
}

.nav li ul element {
    border:none;
}

.nav li ul a:hover {
    background:rgba(0,0,0,0.2);
}

.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}

.nav li ul a:hover{
    cursor: pointer;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}


input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 12px;
  margin: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/* The Modal (background) */
.container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.authform {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  height: 25%;
}

#postlist{
    display: flex;
    background-color: white;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    width: 90%;
    padding: 15px;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 18px;
}

#postlist a:hover, #floating_menu a:hover{
    text-decoration: underline;
}

#floatingmenu{
    background-color: var(--main-color);
    border: 0.5px solid black;
    color: white;
    padding: 10px;;
    width: 15%;
    z-index: 9;
    position: absolute;
    top: 40px;
    right: 40px;   
}

#floatingmenu a{
    color: white;
    text-decoration: underline;
}

#floatingmenuheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

.votes_frontpage {
    display: flex;
}

.votes_frontpage input:first-child {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
.votes_frontpage input:first-child:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.votes_frontpage input:nth-child(2) {
    background-color: white;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
.votes_frontpage input:nth-child(2):hover {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}

/* #post_page{
    font-size: 150%;
} */

#full_post{
    border-bottom: 0.2em dotted black;
}

.votes {
    cursor: default;
    display:flex;
}

.votes input:first-child {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
.votes input:first-child:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.votes input:nth-child(2) {
    background-color: white;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
.votes input:nth-child(2):hover {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}

#comment_votes {
    cursor: default;
    display: flex;
}

#comment_votes input:first-child {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    color: black;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
#comment_votes input:first-child:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#comment_votes input:nth-child(2) {
    background-color: white;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    color: black;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
#comment_votes input:nth-child(2):hover {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}

#comment_votes input:nth-child(2) {
    background-color: white;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
  
#comment_votes input:nth-child(2):hover {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}





#post_info{
    /* display: block; */
    margin: auto;
}

.post_banner{
    font-size: 200%;
    display: flex;
}

/*por titulo "bonito"*/
.post_title{
    text-align: center;
    flex-grow: 1;
    margin-top: 0.5em;
}

.post_votes{
    /* display: flex; */
    font-size: 120%;
    float: left;
    margin-left: 0.75em;
    margin-top: 0em;
}

.post_content{
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 30px;  
    border: 2px solid black;
    border-radius: 25px;

    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

#post_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em; 
}

#post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;  
}

#post_footnote{
    text-decoration: underline;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

#post_reply, .comment_reply{
    display: block;
}

#post_reply textarea, .comment_reply textarea{
    margin: 1em;
    padding: 1em 1em;

    width: 20%;
    height: auto;

    box-sizing: border-box;
    border: 0.01em solid var(--main-color);

    resize: none;

    overflow: auto;
}
  
#post_reply textarea:focus {
    width: 95%;
    height: 20%;
}

.comment_reply textarea:focus {
    width: 30%;
    height: 20%;
}

#post_reply input[type="submit"], #post_reply input[type="reset"] {
    margin: 1em;
    margin-top: -1em;

    background-color: var(--main-color);
    border: none;
    border-radius: 20%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 110%;
}

#post_reply input[type="submit"]:hover, #post_reply input[type="reset"]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.id{
    visibility: hidden;
}

/* #deletepost{
    margin: 1em;
    margin-top: -1em;

    background-color: var(--main-color);
    border: none;
    border-radius: 20%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 110%;
} */

#comment_content {
    box-sizing: content-box;
    width: 50%;
    height: auto;
    padding: 30px;  
    border: 2px solid black;
    border-radius: 25px;

    overflow: auto;

    margin-left: 1em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}