body{
    margin: 0 auto;

    --bg-color: #ffcc5c;
    --main-color: #ff6f69;

    --dark-color: #374d42ec;
    --light-color: #88d8b0;

    background-color: var(--bg-color);
}

a:link{    
    position: relative;
    text-decoration: none;
}


#logo_title{
    padding: 0.5em;
}

#forum_title{
    font-size: 150%;
}

#banner{
    display: grid;
    grid-template-columns: 2.5fr 1fr;

    border-bottom: 0.25em solid var(--dark-color);
}


#logo_tabmenu{
    background: var(--light-color);

    display: grid;
    grid-template-columns: 0.6fr 2fr;
}



#menu{
    display: grid;
    align-content: end;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr); /*se quiser adicionar mais sorts tenho de adicionar mais colunas*/
    
    list-style-type:none;
    font-weight: bold;
}

#menu > li{
    background: var(--dark-color);
    
    padding: 0.1em;
}

#menu > li > a.active{
    background-color: var(--dark-color);
    color: white;
}
  
#menu > li > a:hover:not(.active){
    background-color: var(--dark-color);
    color: white;
}



.user_options{
    display: grid;
    grid-template-rows: auto auto;

    background: var(--light-color);
}

/* .user_options #login{
    

  
}

.user_options #register{
 

} */



input[type=password]{
    box-sizing: border-box;
    
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }